<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %} 
  <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
</head>
<body>
  <div class="layout">
    {% include sidebar.html %}
    <main class="main">
      {{ content }}
    </main>
  </div>


  {% include scripts/nav.html %}
  {% include scripts/sidebar.html %}
  {% include scripts/publications.html %}

  {% if site.courses %}
    {% include scripts/courses.html %}
  {% endif %}

  {% include scripts/gallery.html %}

</body>
</html>
